.cartPage {
  padding: 5vmax;
}

.cartHeader {
  background-color: tomato;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 0.8vmax "Roboto";
}

.cartHeader > p {
  margin: 10px;
}

.cartHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
  padding: 1vmax;
  box-sizing: border-box;
}

.cartInput img {
  width: 5vmax;
  border-radius: 5px;
}

.cartItemInfo {
  margin: 0.3vmax 1vmax;
  display: flex;
  flex-direction: column;
}

.cartItemInfo > a {
  font: 400 0.85vmax "Roboto";
  text-decoration: none;
  color: rgba(24, 24, 24, 0.815);
}

.cartItemInfo > span {
  font: 300 0.7vmax "cursive";
  color: rgba(24, 24, 24, 0.815);
}

.cartItemInfo > p {
  color: tomato;
  font: 300 0.6vmax "Roboto";
  cursor: pointer;
}

.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.cartInput > input {
  border: none;
  padding: 0.5vmax;
  width: 1.5vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vmax;
  height: 8vmax;
  box-sizing: border-box;
  font: 300 1vmax "cursive";
  color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
  border-top: 3px solid tomato;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  display: flex;
  justify-content: space-between;
  font: 300 1vmax "Roboto";
}

.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}

.checkOutBtn > button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 0.8vmax 4vmax;
  width: 15vmax;
  font: 400 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.5s;
}

.checkOutBtn > button:hover {
  background-color: rgb(214, 84, 61);
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.emptyCart h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.616);
  margin-bottom: 2rem;
}

.emptyCart a {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  text-decoration: none;
  font: 400 1vmax "Roboto";
  transition: all 0.5s;
}

.emptyCart a:hover {
  background-color: black;
}
