.orderSuccessContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.orderSuccessBox {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.orderSuccessBox h2 {
  color: #4caf50;
  margin-bottom: 1rem;
}

.orderSuccessBox p {
  margin-bottom: 1.5rem;
}

.orderSuccessBox a {
  text-decoration: none;
  color: white;
  background: #4caf50;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
}
